body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body main #wrapper {
    max-width: 500px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

body main #wrapper #weather-widget {
    border: 2px solid black;
    padding: 10px;
    background-image: url("assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body main #wrapper #weather-widget form {
    display: flex;
    align-items: center;
}

body main #wrapper #weather-widget form label {
    font-size: 25px;
    color: white;
    margin-top: 25px;
    margin-right: 10px;
}

body main #wrapper #weather-widget form input {
    padding: 5px;
    margin-right: 25px;
    margin-top: 25px;
}

body main #wrapper #weather-widget form button {
    width: 100px;
    margin-top: 25px;
    transition: 0.3s;
    height: 29px;
}

body main #wrapper #weather-widget form button:hover {
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.3s;
}

body main #wrapper #weather-widget #weather-output {
    width: 100%;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: darkslateblue;
}

/*body main #wrapper #weather-widget #weather-output .widget-output1 {*/
/*    margin: 20px 0 20px 0;*/
/*    display: flex;*/
/*}*/

body main #wrapper #weather-widget #weather-output #city {
    width: 20%;
    font-size: 25px;
}

body main #wrapper #weather-widget #weather-output #image {
    width: 20%;
}

body main #wrapper #weather-widget #weather-output #weather-temp {
    width: 30%;
    font-size: 25px;
}

body main #wrapper #weather-widget #weather-output #weather-condition {
    width: 30%;
    font-size: 25px;
}

body main #wrapper #weather-widget #weather-output-future-dates {
    display: flex;
}
